$primary-color_1: white;
$primary-color_2: black;
$primary-color_3: gray;
$primary-color_4: brown;
$primary-color_5: red;
$primary-color_6: orange;
$primary-color_7: yellow;
$primary-color_8: blue;
$primary-color_9: green;
$primary-color_10: purple;
$secondary-color_1: #423f3f;
$secondary-color_2: #646161;
$secondary-color_3: #968f8f;
$secondary-color_4: #cf0000;
$secondary-color_5: #920101;
$secondary-color_6: #410000;
$secondary-color_7: #016106;
$secondary-color_8: #003303;
$secondary-color_9: #1f271f;
$secondary-color_10: #5604f8;
$secondary-color_11: #3800a8;
$secondary-color_12: #1d0058;